{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<div class="monkey_and_time">
	<div class="caps-1">
	<img class="cap" src='{% static "img/cap.png" %}'></img>
	<div class="monkey-container">
		<img class="monkey" src='{% static "img/monkey.png" %}'></img>
	</div>
	<div class="title main_title"><strong>大学生IT人才求职体验沙龙</strong></div>
</div>

<div class="shout-container">
	<div class="trapezoid_top"></div>
</div>

<div class="time">
	<p class="title">报名时间</p>
	<p class="date">4月27日 - 5月10日</p>
	<p class="limit">（限额50名同学参加）</p>
	<div class="trapezoid"></div>
</div>

</div>

<div class="intro">
	<img class="shadow-1" src="{% static 'img/shadow.png' %}"></img>
	<img class="shadow-2" src="{% static 'img/shadow.png' %}"></img>
	<div class="cutoff">
		<div class="shadow-oval"></div>
	</div>
	<div class="section-head">
		<h3 class="text">比赛介绍</h3>
	</div>
	<p class="content">
	&emsp;&emsp;Hi，亲爱的同学，你在求职时知道你的编程能力是否达到用人单位的要求吗？你在找实习机会和面试时是否知道如何推销自己？想知道答案？来参加HackerEarth China举办的第一届IT人才求职体验沙龙吧！这是HackerEarth China作为国际最大的IT专业测评、编程比赛承办平台在中国举办的第一次IT人才求职体验沙龙，旨在为IT人才提供评测自己专业水平的机会，深度发掘编程人才的潜能。同时我们邀请了IT行业的资深HR为IT人才寻求实习、就业提供指导咨询。组委会将为参赛团队提供优质平台与雄厚的资本支持，也为广大优秀人才提供待遇优厚的Offer及实习机会。PS：我们除了为你提供专业的技能测评和就业指导之外，还提供精美法式甜点和饮品，以及实地体验IT公司工作氛围的机会。
	</p>

	<div class="section-head">
		<h3 class="text">活动流程</h3>
	</div>
	<div class="content">
		<p class="date">2017年5月13日下午</p>
		<table class='time-table'>
			<tbody>
				<tr>
					<td class='time-duration'>13:00-14:00</td>
					<td class='agenda'>学校集合统一坐车至沙龙地点</td>
				</tr>
				<tr>
					<td class='time-duration'>14:00-14:30</td>
					<td class='agenda'>宣讲IT专业技能测评规则</td>
				</tr>
				<tr>
					<td class='time-duration'>14:30-16:30</td>
					<td class='agenda'>IT专业技能评测</td>
				</tr>
				<tr>
					<td class='time-duration'>16:30-17:30</td>
					<td class='agenda'>讲座：企业挑选实习生时看重的是什么？</td>
				</tr>
				<tr>
					<td class='time-duration'>17:30-18:00</td>
					<td class='agenda'>宣布评测结果及颁奖</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="section-head">
		<h3 class="text">测评奖项设置</h3>
	</div>
	<div class="content">
		<p class="prize">一等奖&emsp;现金1000元</p>
		<p class="trophie"></p>
		<p class="prize">二等奖&emsp;现金500元</p>
		<p class="trophie"></p>
		<p class="prize">三等奖&emsp;现金300元</p>
		<p class="trophie"></p>
		<p class="prize">效率奖&emsp;现金300元</p>
		<p class="trophie"></p>
		<p class="prize">参与奖&emsp;SOMETHING GOOD</p>
		<p class="trophie"></p>
	</div>

<div class="section-head">
		<h3 class="text">测评细则</h3>
</div>
<div class="content"> 
	<p class="prize">1.2人为一组以团队的形式参与测评</p>
	<p class="prize">2.在规定时间内完成3道编程题目</p>
	<p class="prize">3.测评结束后根据测评结果向前三名颁奖</p>
</div>

<div class="section-head">
	<h3 class="text">题目设置</h3>
</div>
<p class="content">
	&emsp;&emsp;3道程序设计题目, 难度分为”非常简单”, “简单”, “困难”
题目总分数按照难度加权:</br>
&emsp;&emsp;非常简单: 50 + 20 (编程风格分)</br>
&emsp;&emsp;简单: 100 + 20 (编程风格分)</br>
&emsp;&emsp;困难:  150 + 20 (编程风格分)</br>
&emsp;&emsp;总分 = 300 + 60 = 360
</p>

<div class="section-head">
	<h3 class="text">评分办法</h3>
</div>
<p class="content">
	&emsp;&emsp;每道题目包含若干组测试数据, 每组测试数据值一定分数, 参赛人员提交的代码将会接收所有测试数据运行, 输出相应结果, 若结果与标准输出相同即可得到改组测试数据所含分数. 例如:</br>&emsp;&emsp;某题目总分20, 有5组数据, 分别为2, 2, 2, 2, 12, 若某参赛人员的程序运行结果只与第五组数据对应的标准输出一致, 其在这道题上所得分数即为12分。
</p>

<div class="section-head">
	<h3 class="text">编程环境</h3>
</div>
<p class="content">
	&emsp;&emsp;不限环境, 参赛人员可使用任意熟悉编辑器进行编码, 代码提交比赛网页, 由服务器进行评测. 更多细则及违规项将在比赛前公布。
</p>

<div class="section-head">
	<h3 class="text">名次确定</h3>
</div>
<p class="content">
	&emsp;&emsp;比赛完成后讲运行各团队的编程程序，根据运行的分数由高到低来确定名次，根据名次颁奖。
</p>

	<div class="reference">
		<p class="role">主办单位</p>
		<p class="inst">梦思特科技(成都)有限公司HACKEREARTH CHAINA事业部</p>
		<p class="role">协办方</p>
		<p class="inst">电子科大计算机学院 TCL创意俱乐部</p>
		<p class="qq">大赛讨论QQ群: 608623743</p>
		<img class="logo" src="{% static 'img/all_logo.png' %}">
	</div>
</div>

<a href='/signup' class="btn-signup">立即报名</a>

{% endblock %}
