{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="monkey_and_time">
	<div class="caps-1">
	<img class="cap" src='{% static "img/cap.png" %}'></img>
	<div class="monkey-container">
		<img class="monkey" src='{% static "img/monkey.png" %}'></img>
	</div>
	<div class="title main_title"><strong>大学生IT人才求职体验沙龙</strong></div>
</div>

<div class="shout-container">
	<div class="trapezoid_top"></div>
</div>

<div class="time">
	<p class="title">报名时间</p>
	<p class="date">4月27日 - 5月10日</p>
	<p class="limit">（限额50名同学参加）</p>
	<div class="trapezoid"></div>
</div>

</div>

<div class="intro">
	<img class="shadow-1" src="{% static 'img/shadow.png' %}"></img>
	<img class="shadow-2" src="{% static 'img/shadow.png' %}"></img>
	<div class="cutoff">
		<div class="shadow-oval"></div>
	</div>
	<div class="section-head">
		<h3 class="text">比赛介绍</h3>
	</div>
	<p class="content">
	本次编程大赛是HackerEarthChina作为国际最大的IT专业测评、编程大赛举办平台在中国举办的第一次大赛，旨在为编程人才及爱好者提供编程交流的盛会，深度发掘编程人才的潜能。预计届时将有百余家知名高校的优秀学子，以及近万编程爱好者参与。组委会将为参赛团队提供优质平台与雄厚的资本支持，也为广大优秀人才提供待遇优厚的Offer及实习机会。
	</p>

	<div class="section-head">
		<h3 class="text">活动流程</h3>
	</div>
	<div class="content">
		<p class="date">2017年5月13日下午</p>
		<table class='time-table'>
			<tbody>
				<tr>
					<td class='time-duration'>13:00-14:00</td>
					<td class='agenda'>学校集合统一坐车至沙龙地点</td>
				</tr>
				<tr>
					<td class='time-duration'>14:00-14:30</td>
					<td class='agenda'>宣讲IT专业技能测评规则</td>
				</tr>
				<tr>
					<td class='time-duration'>14:30-16:30</td>
					<td class='agenda'>IT专业技能评测</td>
				</tr>
				<tr>
					<td class='time-duration'>16:30-17:30</td>
					<td class='agenda'>讲座：企业挑选实习生时看重的是什么？</td>
				</tr>
				<tr>
					<td class='time-duration'>17:30-18:00</td>
					<td class='agenda'>宣布评测结果及颁奖</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="section-head">
		<h3 class="text">测评奖项设置</h3>
	</div>
	<div class="content">
		<p class="prize">一等奖</p>
		<p class="trophie">现金1000元</p>
		<p class="prize">二等奖</p>
		<p class="trophie">现金500元</p>
		<p class="prize">三等奖</p>
		<p class="trophie">现金300元</p>
		<p class="prize">效率奖</p>
		<p class="trophie">现金300元</p>
		<p class="prize">参与奖</p>
		<p class="trophie">SOMETHING GOOD</p>
	</div>

	<div class="reference">
		<p class="role">主办单位</p>
		<p class="inst">梦思特科技(成都)有限公司HACKEREARTH CHAINA事业部</p>
		<p class="role">协办方</p>
		<p class="inst">电子科大计算机学院 TCL创意俱乐部</p>
		<p class="qq">大赛讨论QQ群: 608623743</p>
		<img class="logo" src="{% static 'img/all_logo.png' %}">
	</div>
</div>

<a href='/signup' class="btn-signup">立即报名</a>

{% endblock %}
