{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="back">
	<img src="{% static 'img/close.png' %}">
</div>
<form class="form-container" action='/post_message/' method='post' name="register_form">
	{% csrf_token %}
	<input class="col-xs-12" name='name' placeholder="姓名"></input>

	<input class="col-xs-12" name='email' type='email' placeholder="邮箱"></input>

	<input class="col-xs-12" name='phone' placeholder="手机"></input>

	<input class="col-xs-12" name='qq' placeholder="QQ"></input>

	<input class="col-xs-12" name='language' placeholder="编程语言"></input>

	<!-- <input class="col-xs-12 choices_input" name='campus' id="campus" placeholder="校区" readonly="readonly"/> -->
	<!-- <select class="choices" onChange="document.register_form.campus.value=this.options[this.selectedIndex].value">  -->
	<select class="choices" name="campus">
		<option selected="selected">请选择校区</option> 
		<option value="q">清水河校区</option> 
		<option value="s">沙河校区</option>
	</select> 
		

	<select class="choices" name="grade">
		<option selected="selected">请选择年级</option> 
		<option value="f">大学一年级</option> 
		<option value="sf">大学二年级</option> 
		<option value="j">大学三年级</option> 
		<option value="sn">大学四年级</option> 
		<option value="m">研究生</option> 
	</select> 

	<input class="col-xs-12" name='major' placeholder="专业"></input>

	<button class="submit" type='submit'>报名</button>


</form>

<div class="msg">
	<p>
	您好！您已成功提交报名信息。
	</p>
	<p>
		由于当前报名人数较多，我们会根据报名先后顺序确定沙龙参与人员，并于5月11日电话+微信公众号联系您是否报名成功。敬请稍候哦！
	</p>
	<button class=" btn btn-block">关闭</button>
</div>

{% endblock %}

{% block additional_js %}
<script src="{% static 'js/signup.app.js' %}"></script>
{% endblock %}