{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no; email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>大数据时代打造人才+创新一体化新生态系统</title>
    <!-.css' %}-->
    <link rel="stylesheet" href="{% static 'stylesheet/style.min.css' %}">
    <!--favicons-->
    <link rel="icon" href="{% static 'image/logo-HE-identity.png' %}">
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  </head>

  <body><img src="{% static 'image/share.png' %}" alt="share" class="share-image">
    <main class="main">
      <section class="header-con"> <img src="{% static 'image/bg-move.png' %}" alt="move-image" class="move-image move"> <img src="{% static 'image/header.png' %}" alt="header-image" class="header-image">
        <div class="info-con"> <img src="{% static 'image/logo-he-white.png' %}" alt="HackerEarch">
          <div class="text-con">
            <p>2017年</p>
            <p>09/15</p>
            <p>14:30-17:00</p>
            <p>天府软件园D区<br>灵感咖啡</p>
          </div>
        </div>
        <div class="title-con">
          <h1 class="top-text">大数据时代打造</h1> <img src="{% static 'image/title.png' %}" alt="人才+创新">
          <h1 class="bottom-text">一体化新生态系统</h1>
        </div>
        <div class="intro-con">
          <p>为天府软件园内外的高新企业分享国际上人才和创新流行的新趋势，了解国内的先行者是如何进行创新并成功，为大家提供一种人才+创新的新思路。</p> <img src="{% static 'image/arrow.png' %}" alt="arrow"> </div>
      </section>
      <section class="item-con">
        <h2 class="item-title">演讲主题</h2>
        <ul>
          <li class="list-cell">
            <header>
              <p class="index">01</p>
              <div class="text-con">
                <h3>黑客马拉松引领全球新创意</h3>
                <p>Shishir Bhat</p>
                <p>HackerEarth国际事业部总监</p>
              </div>
            </header>
            <section>
              <div class="img-con"> <img src="{% static 'image/photo-1.jpg' %}" alt="Shishir Bhat"> </div>
              <p>Shishir Bhat, 来自印度的“硅谷”——班加罗尔，作为HackerEarth国际事业部总监，成功将产品带到美国、日本、中国，见证了数百家企业通过HackerEarth举办Hackathon等活动而成功创新，对国际上各类创新的新趋势和新方法有独特的心得体会。</p>
            </section>
          </li>
          <li class="list-cell">
            <header>
              <p class="index">02</p>
              <div class="text-con">
                <h3>AI浪潮下的移动影像创新</h3>
                <p>陈杰</p>
                <p>Camera360无线技术副总裁</p>
              </div>
            </header>
            <section>
              <div class="img-con"> <img src="{% static 'image/photo-2.jpg' %}" alt="陈杰"> </div>
              <p>陈杰，前百度高级工程师，现任Camera360无线技术VP。常年奋战在互联网第一线，成功研发并上线多个项目，拥有数项专利。带领团队成功研发出独具创新的短视频产品Go4，在利用AI技术创新方面有独到的真知灼见。</p>
            </section>
          </li>
          <li class="list-cell">
            <header>
              <p class="index">03</p>
              <div class="text-con">
                <h3>打响全球人才争夺战3.0</h3>
                <p>Roger Lakhani</p>
                <p>MonstarLab Global Head of Investments and Partnerships</p>
              </div>
            </header>
            <section>
              <div class="img-con"> <img src="{% static 'image/photo-3.jpg' %}" alt="Roger Lakhani"> </div>
              <p>Roger Lakhani，来自美国，毕业于美国麻省理工大学航空宇宙工学，曾在Nasa工作，先后在在美国工作8年、欧洲8年、亚洲（中国、香港、日本、东南亚）14年，从事IT行业12年，COO 13年，多年的全球工作经历让他对全球IT人才有深刻的认识，深知全球各地要获取IT人才的挑战与应对办法。</p>
            </section>
          </li>
        </ul>
      </section>
      <section class="item-con">
        <h2 class="item-title">活动日程</h2>
        <div class="dark-con">
          <p>时间：2017年9月15日 14:30-17:00</p>
          <p>地点：天府软件园D区灵感咖啡</p>
        </div>
        <div class="flow-con">
          <ul>
            <li>
              <p class="time-text">14:30-14:40</p>
              <p class="text-con">主办方致辞<span></span></p>
            </li>
            <li>
              <p class="time-text">14:40-15:30</p>
              <p class="text-con">黑客马拉松引领全球新创意<span>Shishir Bhat</span></p>
            </li>
            <li>
              <p class="time-text">15:30-16:00</p>
              <p class="text-con">AI浪潮下的移动影像创新<span>陈杰</span></p>
            </li>
            <li>
              <p class="time-text">16:00-16:40</p>
              <p class="text-con">打响全球人才争夺战3.0<span>Roger Lakhani</span></p>
            </li>
            <li>
              <p class="time-text">16:40-17:00</p>
              <p class="text-con">现场互动<span></span></p>
            </li>
          </ul>
        </div>
      </section>
      <footer>
        <section class="us-con item-con">
          <h2 class="item-title">举办单位</h2>
          <ul>
            <li class="logo-item"> <img src="{% static 'image/logo-rjy.png' %}" alt="天府软件园创业场">
              <p>天府软件园创业场</p>
            </li>
            <li class="logo-item"> <img src="{% static 'image/logo-monstar.png' %}" alt="梦思特科技（成都）有限公司">
              <p>梦思特科技（成都）有限公司</p>
            </li>
            <li class="logo-item"> <img src="{% static 'image/logo-gp.png' %}" alt="成都品果科技有限公司">
              <p>成都品果科技有限公司</p>
            </li>
            <li class="logo-item"> <img src="{% static 'image/logo-yl.png' %}" alt="一览扎堆">
              <p>一览扎堆</p>
            </li>
          </ul>
        </section>
        <p class="copy-text">版权所有 © 2017 HackerEarth 中国</p>
      </footer> <button class="btn fixed-item btn-action">立即报名参加</button> </main>
    <!--javascript-->

     <p>{% csrf_token %}</p>
    <script src="{% static 'javascript/vendor.js' %}"></script>
    <script src="{% static 'javascript/app.js' %}"></script>

       <script type="text/javascript">

        $.ajax({
          url:'http://salon.hackerearth.cn/get_wexin_params',
          type:'post',
          data:{
            "share_url":window.location.href.split('#')[0],
            "csrfmiddlewaretoken":$("input[name='csrfmiddlewaretoken']").val(),

          },
          success:function(_data){
           console.log(_data);
             wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wxf699e63b171db08b', // 必填，公众号的唯一标识
            timestamp: _data.timestamp, // 必填，生成签名的时间戳
            nonceStr: _data.nonceStr, // 必填，生成签名的随机串
            signature: _data.signature,// 必填，签名，见附录1
            jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQZone","onMenuShareQQ"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
             wx.ready(function () {

          var title='沙龙邀请函'// 分享标题
          var desc='大数据时代“人才”+“创新”一体化新生态系统'
          var link='http://salon.hackerearth.cn/'
          var imageUrl='http://salon.hackerearth.cn/media/QQ20170911-150722copy.png'

          wx.onMenuShareAppMessage({
             title: title,
             desc: desc, // 分享描述
             link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
             imgUrl: imageUrl, // 分享图标
             type: '', // 分享类型,music、video或link，不填默认为link
             dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
             success: function () {
              // 用户确认分享后执行的回调函数
              console.log("分享成功")
            },
             cancel: function () {
              // 用户取消分享后执行的回调函数
              console.log("取消分享")
            }
          })


          wx.onMenuShareTimeline({
            title: title, // 分享标题
            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: imageUrl, // 分享图标
            success: function () {
              // 用户确认分享后执行的回调函数
              console.log("分享成功")
            },
             cancel: function () {
              // 用户取消分享后执行的回调函数
              console.log("取消分享")
            }
          })

        })


          }
        })



    </script>
    
    <!--<script>-->
    <!--var _hmt = _hmt || [];-->
    <!--(function () {-->
    <!--var hm = document.createElement("script");-->
    <!--hm.src = "https://hm.baidu.com/hm.js' %}?c5f135dede07c0f30c1d335120ff0d72";-->
    <!--var s = document.getElementsByTagName("script")[0];-->
    <!--s.parentNode.insertBefore(hm, s);-->
    <!--})();-->
    <!--</script>-->
  </body>

</html>
